{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
  {% my_connection %}
  <br>
  {{"Valeria Socken Portela"|cut:"S" }}
  <br>
  <a  href="{% url 'comments:add' %}">Agregar</a>
  {% for c in comments %}
    <p>{{ c.text }}</p>
    <p>{{ c.date_posted }}</p>
    <a  href="{% url 'comments:update' c.id %}">Editar</a>
    <form action = "{% url 'comments:delete' c.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Eliminar">
    </form>
    <hr>
  {% endfor %}

  {% include "partials/pagination.html" with page_obj=comments %}

{% endblock %}