{% extends "base.html" %}
{% block head %}
{{ block.super }}
  <style>
    .important{
      color = #FF0000;
    }
  </style>
{% endblock %}
{% block content %}
  <a href="{% url 'elements:add' %}">Add</a>
  <table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Type</th>
    <th>Price</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  {% for e in elements %}
    <tr>
      <td>{{ forloop.counter }} {{ e.title }}</td>
      <td>{{ e.category.title }}</td>
      <td>{{ e.type.title }}</td>
      <td>{{ e.price }}</td>
      <td>{{ e.created }}</td>
      <td>
      </td>
    </tr>
  {% endfor %}
  </table>

  {% include "partials/pagination.html" with page_obj=elements %}

{% endblock %}